.CodeMirror {
    /* border: 1px solid #ddd; */
    height: 600px;
}

iframe.output {
    width: 100%;
    border-style: none;
}

span.error {
    font-size: .7em;
    margin-left: 15px;
    color: red;
}