.example {
    width: calc(100% + 320px);
}

.example::after {
    content: " ";
    display: block;
    clear: both;
}

.example > .output {
    float: right;
    height: 500px;
    width: 300px;
    overflow: auto;
}

.example > .code {
    float: left;
    width: calc(100% - 320px);
}

.CodeMirror {
    border: 1px solid #eaecef;
    margin-top: -17px;
    height: 500px;
    line-height: 18px;
}

.output iframe {
    width: 100%;
    height: calc(100% - 283px);
    border: 1px solid #eaecef;
    margin-top: -17px;
}

span.error {
    font-size: .7em;
    margin-left: 15px;
    color: red;
}

div.container-lg {
    margin-left: initial;
    margin-right: initial;
}